*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color:  hsl(210, 46%, 95%);
}

/*TODO MEDIAS QUERIES */
[class*="col-"] {
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
    
}

.article-sup{
    margin               : 15% 13% 17% 26%; 
    max-width            : 90%;
    display              : grid;
    grid-template-columns: auto auto ;
    grid-gap             : 10px;
}

.article-sup__principalText{
    font-weight: 700;
    font-size: 1.42em;
    padding: 0 0 2% 0;
}
.article-sup__secundaryText{
    font-weight: 500;
    font-size: .91em;
    padding: 3% 0 6% 0;
    
}
.article-sup__figureprincipal img{
    width       : 100%;
    padding     : 0;
    margin      : 0;
    height      : auto;
}
.article-sup__avatar img{
    vertical-align: middle;
    width         : 40px;
    height        : 40px;
    border-radius : 50%;
}
.article-sup__container{
    background-color: hsl(210, 100%, 100%);
    position: relative;
    right: 5em;
    /* margin: 0 0 0 -15%; */
    padding: 7% 8% 0 8%;
    width: 80%;
}
.article-sup__athor{
    display              : grid;
    grid-gap             : 10px;
    grid-template-columns: 2fr 1fr; 
}
.article-sup__authorcontent{
    
    display              : grid;
    grid-gap             : 10px;
    grid-template-columns: 0.1fr 1fr; 
    
}
.article-sup__tooltip{
    align-self  : flex-end;
    justify-self: right;
    position    : relative;
    bottom      : 24%;
}
.article-sup__principalName{
    font-weight: 700;
    font-size: .91em;

}
.article-sup__authorDescription{
    /* position: absolute; */
   margin-top:  3%;
}
.article-sup__tooltip {
    border-radius   : 50%;
    vertical-align  : middle;
    width           : 30px;
    height          : 30px;
    background-color: hsl(214, 17%, 51%);
    color           : #fff;
    padding         : 8%;
    
}
.article-sup__tooltipShare{
    visibility      : hidden;
    width           : 13rem;
    margin-left     : -90px;
    background-color: hsl(217, 19%, 35%);
    color           : #fff;
    text-align      : center;
    border-radius   : 6px;
    padding         : 5px 0;
    position        : absolute;
    z-index         : 1;
    bottom          : 125%;
    left            : 0%;
    opacity         : 0;
    transition      : opacity 0.3s;
}
.article-sup__tooltip .article-sup__tooltipShare::after {
    content     : "";
    position    : absolute;
    top         : 100%;
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.article-sup__tooltip:hover .article-sup__tooltipShare {
    visibility: visible;
    opacity   : 1;
}
.article-sup__tooltipShare p{
    margin: 4%;
}